<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean name="hCustRep" class="HibernateCustomerRepositoryImpl" />-->
    <bean name="memCustRep"
          class="sda.springcore.spring_xml.repository.InMemoryRepositoryImpl" />

     <!--Setter injection -->
     <!--We describe this as: "wiring beans by name using setter injection" -->
    <!--<bean name="customerService" class="CustomerServiceImpl">-->
        <!--<property name="customerRepository" ref="memCustRep"/>-->
    <!--</bean>-->

    <!-- Constructor injection -->
    <!--<bean name="customerService" class="CustomerServiceImpl">-->
        <!--<constructor-arg index="0" ref="hCustRep"/>-->
        <!--&lt;!&ndash; you could use an additional propety tag to add a setter injection here as well &ndash;&gt;-->
    <!--</bean>-->

    <!-- Autowiring by constructor -->
    <bean name="customerService"
          class="sda.springcore.spring_xml.service.CustomerServiceImpl"
          autowire="constructor" />
    <!-- byName - uses name of the setter -->
    <!--<bean name="customerService" class="CustomerServiceImpl" autowire="byName" />-->
    <!-- byType will not work if there are multiple possible matches of the type-->
    <!--<bean name="customerService" class="CustomerServiceImpl" autowire="byType" />-->

    <!-- bean scopes: prototype and singletone -->
    <!--<bean name="customerService" class="CustomerServiceImpl" scope="prototype">-->
        <!--<property name="customerRepository" ref="memCustRep"/>-->
    <!--</bean>-->


    <!-- Properties file demo -->
    <!-- ... if you want to use @Value("${dbUsername}") you will need to uncomment the line just below -->
    <!--<context:annotation-config/>-->
    <!--<context:property-placeholder location="app.properties"/>-->

    <!--<bean name="customerService" class="CustomerServiceImpl" autowire="constructor" />-->
    <!--<bean name="customerRepository" class="HibernateCustomerRepositoryImpl">-->
        <!--&lt;!&ndash;<property name="dbUsername" value="${dbUsername}" />&ndash;&gt;-->
    <!--</bean>-->

</beans>